.toggle-button {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}
.is-toggled {
	background-color: rgb(240, 240, 240);
	color: black;
}
.input-textbox {
	font-size: 15px;
	padding: 10px;
}

.calculate-button {
	background-color: green;
	color: white;
	padding: 12px 15px;
	border: none;
	font-size: 15px;
	cursor: pointer;
}
.message-color {
	color: red;
}
